---
import { getCollection } from 'astro:content'

import MainLayout from '$/layouts/Main.astro'

import BlogHeader from '$/components/BlogHeader.astro'
// import BlogPost from '$/components/BlogPost.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<MainLayout frontmatter={entry.data}>

		<div class="px-8">

			<BlogHeader />

			<div class="m-auto max-w-5xl">
				<article class="content max-w-3xl">
					<!-- <div> -->
						<header class="my-10 lg:my-12">
							<!-- {heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />} -->
							<!-- <p class="publish-date">{publishDate}</p> -->
							<h1 class="title">{entry.data.title}</h1>
						</header>
						<main class="prose-xl text-zinc-700 dark:text-zinc-400">
							<Content />
						</main>
					<!-- </div> -->
				</article>
			</div>

		</div>

</MainLayout>

<style>
	.hero-image {
		width: 100vw;
		object-fit: cover;
		object-position: center;
		margin-top: 2rem;
		margin-bottom: 4rem;
		max-width: 1280px;
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}

	.title {
		@apply font-display leading-snug font-bold text-4xl lg:text-6xl;

		/* color: #7C4EFF;
		background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; */
	}
</style>