---
import { getCollection } from 'astro:content'

import MainLayout from '$/layouts/Main.astro'

import BlogHeader from '$/components/BlogHeader.astro'
import Footer from '$/components/Footer.astro'

// import BlogPost from '$/components/BlogPost.astro'

export async function getStaticPaths() {
  const pageEntries = await getCollection('pages');
  return pageEntries.map(post => ({
    params: { slug: post.slug }, props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render()

const title = post.data.title
const description = post.data.description
const permalink = `/${post.slug}`

import '$/styles/blog.css'
---
<MainLayout {title} {description} {permalink} frontmatter={post.data}>

		<div class="px-8">

			<BlogHeader />

			<div class="m-auto max-w-5xl">
				<article class="content max-w-3xl">
					<!-- <div> -->
						<header class="mt-10 mb-12 lg:mt-12 lg:mb-14">
							<h1 class="mb-6 font-display leading-snug font-bold text-4xl lg:text-6xl text-zinc-800 dark:text-zinc-100">{post.data.title}</h1>
							<p class="text-2xl text-zinc-800 dark:text-zinc-400">{post.data.description}</p>
						</header>
						<main class="prose-lg lg:prose-xl text-zinc-700 dark:text-zinc-400 prose-headings:font-bold prose-headings:dark:text-zinc-100">
							<Content />
						</main>
					<!-- </div> -->
				</article>
			</div>

		</div>

		<Footer/>

</MainLayout>