---
// Component Imports
import MainLayout from '$/layouts/Main.astro'

import BlogHeader from '$/components/BlogHeader.astro'
import Footer from '$/components/Footer.astro'
import BlogPostPreview from '$/components/BlogPostPreview.astro'

import { getCollection } from 'astro:content'

let title = 'Blog'
let description = 'Inconsistently valuable but consistently infrequent jottings down.'
let permalink = 'https://zane.im/blog/'

const posts = await getCollection('blog', ({ data }) => {
	return data.draft !== true;
})

---

<MainLayout>

	<div class="wrap relative px-8 dark:text-gray-50">

		<BlogHeader />

		<main class="content">
			<section class="intro	m-auto max-w-5xl">
				<!-- <h1 class="mb-6 font-display leading-snug font-bold text-4xl lg:text-6xl text-zinc-800 dark:text-zinc-100">{title}</h1>
				<p class="text-2xl text-zinc-800 dark:text-zinc-400">{description}</p> -->
				<header class="mt-10 mb-12 lg:mt-12 lg:mb-14">
					<h1 class="mb-6 font-display leading-snug font-bold text-4xl lg:text-6xl text-gray-800 dark:text-gray-100">{title}</h1>
					<p class="text-2xl text-zinc-800 dark:text-zinc-400">{description}</p>
				</header>
			</section>
			<section aria-label="Blog post list">
				{posts.map((p) => <BlogPostPreview post={p} />)}
			</section>
		</main>
		
	</div>

	<Footer/>

</MainLayout>