---
import MainLayout from '$/layouts/Main.astro'

import Footer from '$/components/Footer.astro'

import ResumeSectionTitle from '$/components/ResumeSectionTitle.astro'
import ResumeSectionExperience from '$/components/ResumeSectionExperience.astro'
import ResumeSectionSkills from '$/components/ResumeSectionSkills.astro'
import ResumeSectionEducation from '$/components/ResumeSectionEducation.astro'
import ResumeSectionVolunteering from '$/components/ResumeSectionVolunteering.astro'

import '$/styles/blog.css'

const response = await fetch(
	'https://api.github.com/gists/af71bf672a196bdda6d68cd19ee856ef',
	{
		headers: {
    'Accept': 'application/vnd.github+json'
  }
	}
)
const data = await response.json()
const resumeJSON = data.files['resume.json'].content
const resume = JSON.parse(resumeJSON)

---
<MainLayout>

		<div class="px-8">

			<div class="m-auto max-w-6xl">
				<article class="content">
					<!-- <div> -->
						<header class="mt-10 mb-12 lg:mt-12 lg:mb-14">
							<h1 class="mb-6 font-display leading-snug font-bold text-4xl lg:text-7xl text-zinc-800 dark:text-zinc-100">
								Zane Taylor
							</h1>
							<h2 class="mb-12 text-2xl lg:text-3xl">{resume.basics.label}</h2>
							<p class="lead text-2xl text-zinc-800 dark:text-zinc-400">
								{resume.basics.summary}
							</p>
							{resume.basics.location.city}, {resume.basics.location.region}
							{resume.basics.email}
							{resume.basics.website}

							<ul>
							{resume.basics.profiles.map((p) => (
								<li><a href={p.url}>{p.network}</a></li>
							))}
							</ul>
						</header>
						<main class="text-lg lg:text-xl text-zinc-700 dark:text-zinc-400">

							<section class="md:flex">
								<div class="md:w-3/4 md:pr-20">
									<ResumeSectionTitle title="Experience"/>
									<ResumeSectionExperience items={resume.work}/>
								</div>
								<div class="md:w-1/4">
									<ResumeSectionTitle title="Skills"/>
									<ResumeSectionSkills items={resume.skills}/>
								</div>
							</section>
						
							<section class="md:flex">
								<div class="md:w-1/2 md:pr-20">
									<ResumeSectionTitle title="Education"/>
									<ResumeSectionEducation items={resume.education}/>
								</div>
								
								<div class="md:w-1/2">
									<ResumeSectionTitle title="Volunteering"/>
									<ResumeSectionVolunteering items={resume.volunteer}/>
								</div>
							</section>

						</main>
					<!-- </div> -->
				</article>
			</div>

		</div>

		<Footer/>

</MainLayout>

<style>
	h1 {
		color: #7C4EFF;
		background: -webkit-linear-gradient(45deg, #7C4EFF, #A21CAF);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>