---
const { items } = Astro.props;
---

{items.map((p) => (
  <div class="mb-8">
    <h3 class="text-2xl text-cyan-500 font-bold mb-2">{p.institution}</h3>
    {p.area}
    <p>{p.startDate} -  {p.endDate}</p>
    {p.summary}
    {p.highlights}
  </div>
))}