---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';

import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const {
	data: { title, description, publishDate, permalink, alt },
	slug,
} = post;

// const { title, description, publishDate, permalink, alt } = post;
---

<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"/>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<BlogHeader />
		<div class="wrapper">
			<BlogPost {title} {publishDate} {alt}>
				<slot />
			</BlogPost>
		</div>
	</body>
</html>
